<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>Wikinavi</title>
</head>
<body>

<!-- Contents -->
<div class="container" layout:fragment="content">
    <div class="page-header">
        <h1>지도 생성
            <small>Step 1 : 지도 이미지 추가</small>
        </h1>
    </div>
    <form id="uploadForm" class="form-horizontal" th:action="@{/maps/upload}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="imagePath" class="col-sm-2 control-label">지도 업로드</label>

            <div class="col-sm-10">
                <input type="file" id="imagePath" name="file"/>

                <p class="help-block">지도 이미지 파일을 업로드 해 주세요.</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">업로드</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>
