<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>Wikinavi</title>
    <!--<link href="../../../static/css/wikinavi.css" th:href="@{/css/dotted-tile.css}" rel="stylesheet"/>-->
</head>
<body>

<!-- Contents -->
<div class="container" layout:fragment="content">

    <!-- Title, Address -->
    <div class="page-header">
        <h1>
            <span th:text="${indoorMap.title}">건물 이름</span>
            <small th:text="${indoorMap.address}">주소</small>
        </h1>
    </div>

    <!-- Map Info -->
    <div class="row">
        <!-- Menu -->
        <div class="col-xs-12 col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation">
                    <a href="../view.html" th:href="@{/maps/} + ${indoorMap.id} + @{/view}">
                        정보 보기</a></li>
                <li role="presentation">
                    <a href="modify.html" th:href="@{/maps/} + ${indoorMap.id} + @{/modify}">
                        기본 정보 수정</a></li>
                <li role="presentation">
                    <a href="image.html" th:href="@{/maps/} + ${indoorMap.id} + @{/modify/image}">
                        지도 이미지 변경</a></li>
                <li role="presentation">
                    <a href="room.html" th:href="@{/maps/} + ${indoorMap.id} + @{/modify/room}">
                        방 정보 입력</a></li>
                <li role="presentation" class="active">
                    <a href="beacon.html" th:href="@{/maps/} + ${indoorMap.id} + @{/modify/beacon}">
                        비콘 정보 입력</a></li>
                <li role="presentation">
                    <a href="edge.html" th:href="@{/maps/} + ${indoorMap.id} + @{/modify/edge}">
                        길 정보 입력</a></li>
            </ul>
        </div>

        <!-- Modify Info -->
        <div class="col-xs-12 col-md-10">

            <div class="col-md-6">

                <!-- images -->
                <div class="row">
                    <div class="col-xs-12">
                        <div id="imageArea" class="thumbnail">
                            <img src="../../../static/images/20150904_170026.jpg"
                                 th:src="'/api/images?fileName=' + ${indoorMap.imagePath}"
                                 id="mapImage" alt="Map Image"/>
                        </div>
                        <div id="tileArea" class="tile-parent"></div>
                    </div>
                </div>

            </div><!-- col -->

            <div class="col-md-6">

                <!-- Beacon Info -->
                <h3>비콘 정보 <small>갈림길</small></h3>
                <table class="table">
                    <tr>
                        <th>좌표</th>
                        <th>비콘 이름</th>
                        <th>맥 주소</th>
                    </tr>
                    <tr th:each="beacon : ${beacons}">
                        <td>(<span th:text="${beacon.x}">5</span>,<span th:text="${beacon.y}">5</span>)</td>
                        <td th:text="${beacon.name}">엘레베이터 앞</td>
                        <td th:text="${beacon.macAddr}">00-00-00-00-00-00</td>
                    </tr>
                </table>

                <!-- 비콘 추가 -->
                <h3>비콘 추가</h3>
                <form class="form-horizontal" th:action="@{/maps/} + ${indoorMap.id} + @{/modify/beacon}"
                      th:object="${beaconForm}" method="post">
                    <div class="form-group">
                        <label for="x" class="col-sm-3 control-label">좌표</label>

                        <div class="col-sm-9">
                            ( <input type="number" id="x" class="tile-width" th:field="*{x}"/> ,
                            <input type="number" id="y" class="tile-width" th:field="*{y}"/> )
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="col-sm-3 control-label">비콘 이름</label>

                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="name" name="name" placeholder="ex) 5145 앞 비콘"
                                   th:field="*{name}" value="5145 앞 비콘"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="macAddr" class="col-sm-3 control-label">맥 주소</label>

                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="macAddr" name="macAddr"
                                   placeholder="ex) D0:39:72:A4:96:FD" th:field="*{macAddr}" value="D0:39:72:A4:96:FD"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-default">추가</button>
                        </div>
                    </div>

                </form>

            </div><!-- /.col -->
        </div><!-- /.col -->

    </div><!-- /.row -->

</div><!-- /.container-->

<div layout:fragment="script">
    <script src="../../../static/js/tile.js" th:src="@{/js/tile.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function () {
            $('#title').val(/*[[${indoorMap.title}]]*/);
            $('#address').val(/*[[${indoorMap.address}]]*/);

            var ratio = /*[[${ratio}]]*/ 1;
            var imageAreaWidth = $('#imageArea').width();
            var imageAreaHeight = parseInt(imageAreaWidth * ratio);

            var tileWidth = /*[[${indoorMap.tileWidth}]]*/ 50;
            var tileHeight = parseInt(tileWidth * ratio);

            renderTile(tileWidth, tileHeight, imageAreaWidth, imageAreaHeight);

            // tile hover
            /*            $('.tile').hover(function () {
             $('#imageXPos').val($(this).attr('data-x'));
             $('#imageYPos').val($(this).attr('data-y'));
             });*/

            $('.tile').click(function () {
                $('#x').val($(this).attr('data-x'));
                $('#y').val($(this).attr('data-y'));
            });
        });
        /*]]>*/
    </script>
</div>

</body>
</html>
