#imageArea {
    position: relative;
}

.tile-parent {
    position: absolute;
    top: 5px;
    left: 20px;
}

.tile {
    position: absolute;
    /*border: 1px solid white;*/
}

.tile:hover {
    background: black;
    opacity: 0.5;
}

input.tile-width {
    width: 50px;
}
