<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
    <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
    <!--<title>Wikinavi Admin Page</title>-->
<!--</head>-->
<!--<body>-->

<!--&lt;!&ndash;@thymesVar id="name" type="String"&ndash;&gt;-->
<!--<p th:text="'Hello, ' + ${name} + '!'" ></p>-->

<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Canvas Paint Example</title>
    <script type="text/javascript">
        //window가 load 될때 Event Listener를 등록 하여 준다.
        if(window.addEventListener)
        {
            window.addEventListener('load', InitEvent, false);
        }

        var canvas, context, tool;

        function InitEvent ()
        {
            // Canvas 객체를 탐색 한다.
            canvas = document.getElementById('drawCanvas');
            if (!canvas) {
                alert('캔버스 객체를 찾을 수 없음');
                return;
            }

            if (!canvas.getContext) {
                alert('Drawing Contextf를 찾을 수 없음');
                return;
            }

            // 2D canvas context를 가져 온다.
            context = canvas.getContext('2d');
            if (!context) {
                alert('getContext() 함수를 호출 할 수 없음');
                return;
            }

            // tool_pencil 함수의 인스턴스를 생성 한다.
            tool = new tool_pencil();

            // Canvas에 mousedown, mousemove, mouseup 이벤트 리스너를 추가한다.
            canvas.addEventListener('mousedown', ev_canvas, false);
            canvas.addEventListener('mousemove', ev_canvas, false);
            canvas.addEventListener('mouseup',   ev_canvas, false);
        }

        // 마우스 이동을 추적 하여 그리기 작업을 수행 한다.
        function tool_pencil ()
        {
            var tool = this;
            this.started = false;

            // 마우스를 누를때 그리기 작업을 시작 한다.
            this.mousedown = function (ev)
            {
                context.beginPath();
                context.moveTo(ev._x, ev._y);
                tool.started = true;
            };

            // 마우스가 이동 할때(mousemove) 마다 호출 된다.
            this.mousemove = function (ev)
            {
                if (tool.started)
                {
                    context.lineTo(ev._x, ev._y);
                    context.stroke();
                }
            };

            // 마우스 좌측 버튼을 놓았을때(mouseup) 호출 된다.
            this.mouseup = function (ev)
            {
                if (tool.started)
                {
                    tool.mousemove(ev);
                    tool.started = false;
                }
            };
        }


        // Canvas요소 내의 좌표를 결정 한다.
        function ev_canvas (ev)
        {
            if (ev.layerX || ev.layerX == 0)
            { // Firefox 브라우저
                ev._x = ev.layerX;
                ev._y = ev.layerY;
            }
            else if (ev.offsetX || ev.offsetX == 0)
            { // Opera 브라우저
                ev._x = ev.offsetX;
                ev._y = ev.offsetY;
            }

            // tool의 이벤트 핸들러를 호출한다.
            var func = tool[ev.type];

            if (func)
            {
                func(ev);
            }
        }

    </script>
</head>
<body>
<!-- 여기에 코드를 작성 할 것이다. -->
<div id="container">
    <canvas id="drawCanvas" width="400" height="300" style=" position: relative; border: 1px solid #000;"></canvas>
</div>
</body>
</html>
